<%- include("../partials/head") %>
<%- include("../partials/navbar") %>
<!-- Section: Design Block -->
<section class="flex items-center justify-center min-h-[calc(100vh-6rem)] bg-upfc-blue">
    <!-- <div class="card-body py-5 px-md-5"> -->
      <div class="flex flex-col w-1/3 items-center">
        <!-- <div class="col-lg-8"> -->
          <h2 class="text-2xl text-white font-medium">COMPLETA LOS DATOS DE TU EMPRESA</h2>
          <h3 class="text-white text-xs font-thin tracking-widest mb-3">ANTES DE APLICAR POR LA CERTIFICACIÓN UPFC</h3>
          <form class="flex flex-col w-full gap-y-3 bg-black bg-opacity-25 px-16 py-16 rounded" method="POST" action="<%=`/enterprise/details/${user}` %>" >
            <!-- <div class="bg-upfc-gray"> -->
              <!-- CUIT inpmut -->
                <!-- <div class=""> -->
                  <input 
                    name="cuit" 
                    type="text" 
                    id="form3Example1" 
                    placeholder="CUIT" 
                    class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  />
                <!-- </div> -->
  
              <!-- Country inpmut -->
                <!-- <div class="form-outline mb-4"> -->
                  <input 
                    name="country" 
                    type="text" 
                    id="form3Example1" 
                    placeholder="Pais" 
                    class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  />
                <!-- </div> -->
  
              <!-- City inpmut -->
                <!-- <div class="form-outline mb-4"> -->
                  <input 
                    name="city" 
                    type="text" 
                    id="form3Example1" 
                    placeholder="Ciudad"
                    class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  />
                <!-- </div> -->
              
                <!-- Employees input -->
                <!-- <div class="form-outline mb-4">  -->
                  <input 
                    name="employees" 
                    type="number" 
                    id="form3Example3" 
                    placeholder="Numero de empleados" 
                    class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  />
                <!-- </div> -->
  
              <!-- Invoicing input -->
                <!-- <div class="form-outline mb-4"> -->
                  <input 
                    type="number" 
                    name="invoicing" 
                    id="form3Example1" 
                    placeholder="Ingresos" 
                    class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  />
                <!-- </div> -->
  
                <!-- Mipyme input -->
                <!-- <div class="form-outline mb-4"> -->
                  <input 
                    type="text" 
                    name="mipyme" 
                    id="form3Example1" 
                    placeholder="Categoria MiPyme" 
                    class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  />
                <!-- </div> -->
  
                <!-- Submit button -->
                <button type="submit" class="bg-upfc-lime rounded py-2 text-black w-full my-3">
                  Submit
                </button>
            <!-- </div> -->
          </form>
        <!-- </div> -->
      </div>
    <!-- </div> -->
  <!-- </div> -->
</section>
<!-- <%- include("../partials/footer") %> -->
