<%- include("../partials/head") %>
<%- include("../partials/navbar") %>
<!-- Section: Design Block -->
<section class="flex items-center justify-center min-h-[calc(100vh-6rem)] bg-upfc-blue">
      <div class="flex flex-col w-1/3 items-center">
          <h2 class="text-2xl text-white font-medium">Completa los Datos de tu Empresa</h2>
          <h3 class="text-white text-xs font-thin tracking-widest mb-3">Antes de Aplicar por la certificación UPFC</h3>
          <form class="flex flex-col w-full gap-y-3 bg-black bg-opacity-25 px-16 py-16 rounded" method="POST" action="<%=`/enterprise/details/${user}` %>" >
            <input 
              name="cuit" 
              type="text" 
              id="form3Example1" 
              placeholder="CUIT" 
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
            />
            <input 
              name="country" 
              type="text" 
              id="form3Example1" 
              placeholder="Pais" 
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
            />
            <input 
              name="city" 
              type="text" 
              id="form3Example1" 
              placeholder="Ciudad"
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
            />
            <input 
              name="employees" 
              type="number" 
              id="form3Example3" 
              placeholder="Numero de empleados" 
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
            />
            <input 
              type="number" 
              name="invoicing" 
              id="form3Example1" 
              placeholder="Ingresos" 
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
            />
            <input 
              type="text" 
              name="mipyme" 
              id="form3Example1" 
              placeholder="Categoria MiPyme" 
              class="w-full p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
            />
          <button type="submit" class="bg-upfc-lime rounded py-2 text-black w-full my-3">
            Submit
          </button>
          </form>
      </div>
</section>
<%- include("../partials/footer") %>
