<%- include("../partials/head") %>
<%- include("../partials/n-navbar") %>
<!-- Section: Design Block -->
<main class="flex min-h-[calc(100vh-6rem)] flex-col items-center justify-between bg-upfc-blue">
    <div class='flex flex-col items-center justify-center w-full h-full'>
        <span class='text-4xl mb-2 font-medium text-white'>COMPLETE LOS DATOS DE SU EMPRESA</span>
        <span class='text-sm font-thin text-white'>ANTES DE APLICAR POR LA CERTIFICACION UPFC</span>
        <div class='flex px-24 items-center justify-center mt-10 py-12 w-[40%] bg-upfc-gray rounded-lg'>
        <div class='flex flex-col gap-y-8 w-full'>
            <div class='flex flex-col gap-y-3'>
            <input 
                name='cuit'
                onChange={handleInputChange}
                class='p-1.5 rounded bg-input-gray focus:outline-none placeholder:text-gray-300 placeholder:font-light text-white' 
                placeholder='CUIT' 
                type="text" 
            /> 
            <input 
                name='country'
                onChange={handleInputChange}
                class='p-1.5 rounded bg-input-gray focus:outline-none placeholder:text-gray-300 placeholder:font-light text-white' 
                placeholder='Country' 
                type="text" 
            /> 
            <input 
                name='city'
                onChange={handleInputChange}
                class='p-1.5 rounded bg-input-gray focus:outline-none placeholder:text-gray-300 placeholder:font-light text-white' 
                placeholder='City' 
                type="text" 
            />
            <input 
                name='employees'
                onChange={handleInputChange}
                class='p-1.5 rounded bg-input-gray focus:outline-none placeholder:text-gray-300 placeholder:font-light text-white' 
                placeholder='Numbers of Employees'
                type="text" 
                />
            <input 
                name='invoicing'
                onChange={handleInputChange}
                class='p-1.5 rounded bg-input-gray focus:outline-none placeholder:text-gray-300 placeholder:font-light text-white' 
                placeholder='Anual Invoicing'
                type="text" 
                />
            <input 
                name='category'
                onChange={handleInputChange}
                class='p-1.5 rounded bg-input-gray focus:outline-none placeholder:text-gray-300 placeholder:font-light text-white' 
                placeholder='Mipyme Category'
                type="text" 
            />
            </div>
            <button class='bg-upfc-lime text-black rounded py-1.5 bg-opacity-90'>Submit</button>
        </div>
        </div>
    </div>
    <!-- {/* <div class='hidden md:block absolute right-0 bottom-0 top-24 overflow-hidden opacity-0'>
    <UpfcLogoAlt />
    </div> */} -->
</main>
<!-- <%- include("../partials/footer") %> -->
