<%- include("./../partials/head") %>
<%- include("./../partials/n-navbar")%>
<div class="min-h-[calc(100vh-6rem)] flex items-center justify-center bg-upfc-blue">
    <!-- <div class=""> -->
      <div class="flex flex-col px-8 pb-10 text-white">
        <span class="w-full text-center font-semibold text-xl">BANDEJAS</span>
        <div class="flex flex-col gap-y-3 mt-4">
            <div class='flex justify-between gap-x-2 items-center px-3 py-2 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-sm text-gray-200 w-1/2">Subí una imágen mostrando tu situación antes</span>
                <input class='my-1 rounded-lg bg-blue-400 bg-opacity-90 tracking-wider text-sm w-1/3' type="file" accept="image/*" name="before_pic" multiple />
            </div>
            <div class='flex justify-between gap-x-2 items-center px-3 py-2 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-sm text-gray-200 w-1/2">Subí una imágen mostrando tu situación despues</span>
                <input class='my-1 rounded-lg bg-blue-400 bg-opacity-90 tracking-wider text-sm w-1/3' type="file" accept="image/*" name="after_pic" multiple />
            </div>
            <div class='flex justify-between gap-x-2 items-center px-3 py-2 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-sm text-gray-200 w-1/2">Subí un video mostrando tu proceso de desplastificacion</span>
                <input class='my-1 rounded-lg bg-blue-400 bg-opacity-90 tracking-wider text-sm w-1/3' type="file" accept="video/*" name="videoInput" />
            </div>
            <div class='flex justify-between gap-x-2 items-center px-3 py-2 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-sm text-gray-200 w-1/2">Subí tu ficha tecnica</span>
                <input class='my-1 rounded-lg bg-blue-400 bg-opacity-90 tracking-wider text-sm w-1/3' type="file" name="ficha" />
            </div>
            <div class='flex justify-between gap-x-2 items-center px-3 py-2 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-sm text-gray-200 w-1/2">Subí tus archivos adicionales</span>
                <input class='my-1 rounded-lg bg-blue-400 bg-opacity-90 tracking-wider text-sm w-1/3' type="file" name="adicionales" />
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">SKU/EAN</span>
                <input 
                    class='w-full px-1 outline-none rounded-lg bg-transparent tracking-wider w-1/2' 
                    type="text" 
                    name="sku/ean" 
                    placeholder="Numero"
                />
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Producto desplastificado</span>
                <input 
                    class='w-full px-1 outline-none rounded-lg bg-transparent tracking-wider w-1/2' 
                    type="text" 
                    name="product" 
                    placeholder="Nombre"
                />
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Describe el cambio implementado</span>
                <input 
                    class='w-full px-1 outline-none rounded-lg bg-transparent tracking-wider w-1/2' 
                    type="text" 
                    name="cambio" 
                    placeholder="Descripción"
                />
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Fecha de implementacion</span>
                <input 
                    class='w-full px-1 outline-none mt-1 rounded-lg bg-transparent tracking-wider w-1/2' 
                    type="date" 
                    name="fecha"
                />
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Selecciona plastico previo</span>
                <select class="w-full px-1 outline-none mt-1 rounded-lg bg-transparent tracking-wider w-1/2" name="previo" id="previo">
                    <option value="1">Packaging de plastico descartable</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Selecciona la alternativa elegida</span>
                <select class="w-full px-1 outline-none mt-1 rounded-lg bg-transparent tracking-wider w-1/2" name="previo" id="previo">
                    <option value="1">Carton</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Selecciona si impacta en</span>
                <select class="w-full px-1 outline-none mt-1 rounded-lg bg-transparent tracking-wider w-1/2" name="previo" id="previo">
                    <option value="1">Compras</option>
                    <option value="2">Ventas</option>
                </select>
            </div>
            <div class='flex flex-col w-full gap-x-2 px-3 py-1 rounded-lg bg-input-gray placeholder:font-light placeholder:text-gray-100 text-black '>
                <span class="text-xs text-gray-200 w-2/3">Selecciona la unidad de medida</span>
                <select class="w-full px-1 outline-none mt-1 rounded-lg bg-transparent tracking-wider w-1/2" name="previo" id="previo">
                    <option value="1">Litros</option>
                    <option value="2">Kilos</option>
                    <option value="3">Unidades</option>
                </select>
            </div>
            <button class='p-1.5 rounded-lg placeholder:font-light placeholder:text-gray-100 text-black bg-upfc-lime'>Postula el caso a certificar</button>

        </div>
      </div>
    <!-- </div> -->
  </div>