<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Your minting requests</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% openMintedRequests.forEach(e=>{ %>
        <div class="col mb-5">
          <div class="card" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
            <!-- Product image-->
            <% if (userCategory ==3) { %>
              <h5 class="fw-bolder">
                <!-- deberia aparecer el nombre de la empresa -->
                <%= e.user_id %>
              </h5>
            <% } %>
            <%
              let userId = e.user_id;
            %>
            <div class="card-body p-4">
              <div class="text-center">
                <!-- name-->
                <a href= "<%= `/enterprise/mintingRequest/${e.minting_request_id}` %>">
                  <!-- name-->
                  <h5 class="fw-bolder">
                    <%= e.name %>
                  </h5>
                </a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</section>
<% //if(unplastifiedItem){ %> 
  <%- //include("./modals")%>
<%//} %> 
