<!-- <% console.log(openMintingRequests) %> -->

<% openMintingRequests.forEach(e=>{ %>
    <div class='bg-upfc-gray rounded-lg p-3 text-white'>
        <!-- <div class='w-full bg-white bg-opacity-20 rounded-lg'></div> -->
        <div class="">
            <img src="/images/mike.jpeg" class="object-cover rounded-xl" alt="minting image">
        </div>
        <div class='flex flex-col items-start'>
            <% if (userCategory == 'unplastify') { %>
                <h4 class="text-sm mt-2"><%= e.enterpriseName %></h4>
            <% } %>
            <span class='text-xl font-medium mt-1'><%= e.name %></span>
            <span class='text-sm'>Ornella Freddo</span>
            <span class='font-medium text-sm bg-[#FBFF47] mt-2 p-1 rounded-lg text-black'><%= e.status %></span>
            <a 
                href="<%= `/enterprise/mintingRequest/${e.minting_request_id}` %>"
                class='text-center hover:no-underline p-2 bg-upfc-lime rounded-lg mt-2 text-black w-full font-normal'>
                Ver más
            </a>
        </div>
    </div>
<% }) %>
