<section class="flex w-full items-center justify-center bg-upfc-blue">
        <div class="flex flex-col w-2/3 mb-12">
          <h2 class="text-white">Chat Room</h2>
          <p class="text-white">This will be used for validators Q&A</p>
          <div class="bg-upfc-gray rounded-xl p-6">
            <div class="flex flex-col text-white">
              <% mintingRequest.chatRooms.forEach(chat => { %>
                <% 
                  const timestamp = new Date(chat.dataValues.createdAt);
                  const formattedDate = timestamp.toLocaleDateString('en-US', {
                    day: 'numeric',
                    month: 'short',
                    year: 'numeric'
                  });
                  const formattedTime = timestamp.toLocaleTimeString('en-US');

                  const formattedTimestamp = `${formattedDate} ${formattedTime}`;
                  %>
                  <div class="flex flex-col mb-3 w-full border-b border-gray-400">
                    <div class="flex justify-between">
                      <p class="font-bold">
                        <% if(chat.dataValues.user_category_id == userCategory+ 1){ %>
                          you
                        <% } else if(chat.dataValues.user_category_id==1){ %>
                          Validator
                        <% } else if(chat.dataValues.user_category_id==2){ %>
                          <%= mintingRequest.dataValues.user_request.dataValues.name %>
                        <% } else if(chat.dataValues.user_category_id==3){ %>
                          Unplastify
                        <% } %>
  
                      </p>
                      <p class="text-xs font-thin opacity-75"><i class="far fa-clock"></i><%= formattedTimestamp %></p>
                    </div>
                    <div class="">
                      <p class="">
                        <%= chat.dataValues.msg %>
                      </p>
                    </div>
                  </div>
              <% }); %>
            </div>
          </div>
          <form class="flex flex-col items-center justify-center mt-6" method="POST" action="/chat">
            <div class="relative w-full h-full">
              <input
                type="text "
                name="newMsg" 
                class="bg-upfc-gray rounded-xl h-full focus:outline-none text-white p-3 w-full" 
                id="textAreaExample2" 
                rows="4"
                placeholder="Mensaje..."
              >
              </input>
              <button type="submit" class="bg-upfc-blue2 text-white rounded-lg p-2 absolute bottom-1.5 right-2">Enviar</button>
            </div>
          </form>
        </div>
  </section>


  