<%- include("../partials/head") %>
<body>
<%-include("./../partials/navbar")%>
  <main class="min-h-[calc(100vh-6rem)] bg-upfc-blue">
        <div class="flex gap-x-12">
          <div class="flex w-1/2 items-center justify-center mb-24">
            <form class="flex flex-col gap-y-3 w-1/2" method="POST" action="/users/login">
              <span class="self-start text-2xl text-white mb-2">Ingresá</span>
              <% if (locals.errors && errors.login) { %>
                <div class="error"><%= errors.login.msg %> </div>
              <% } %>
                <input type="email" id="form3Example3" class="w-full focus:outline-none p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  placeholder="Ingrese su mail" name="email"/>
                <input type="password" id="form3Example4" class="w-full focus:outline-none p-2 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white"
                  placeholder="Ingrese su contraseña" name="password"/>
              <div class="mt-3">
                <button type="button submit" class="bg-upfc-lime rounded py-2 text-black w-full">Ingresar</button>
                <p class="text-sm mt-3 text-white">¿Todavía no tenés una cuenta? <a href="/users/register"
                    class="text-upfc-lime">Registrate</a></p>
              </div>
            </form>
        </div>
        <div class="w-1/2 overflow-hidden max-h-[calc(100vh-6rem)]">
          <div class="mt-12 -mr-24">
            <img class="w-full" src="/images/upfc-bg-logo.png" alt="UPFC logo image">
          </div>
        </div>
      </div>
  </main>
  <!-- <%-include("../partials/footer")%> -->
</body>
</html>
