<%- include("../partials/head") %>
    <%-include("./../partials/n-navbar")%>
    <main class="flex flex-col min-h-[calc(100vh-6rem)] items-center justify-between bg-upfc-blue">
        <div class="flex w-full flex-col items-center justify-between">
          <div class='flex items-center w-full h-full px-12 md:px-0'>
            <div class='flex md:p-24 md:mx-32 h-3/4 w-full md:w-1/2'>
                <!-- <div class='flex flex-col gap-y-8 w-full md:w-2/3'> -->
                <form class='flex flex-col gap-y-8 w-full md:w-2/3' method="POST" action="/users/login">
                    <span class='text-3xl text-white'>INGRESÁ</span>
                    <div class='relative flex flex-col gap-y-3'>
                    <input onChange={handleInputChange} name='email' class='p-1.5 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white' placeholder='Ingrese su email' type="text" />
                    <input onChange={handleInputChange} name='password' type="password" class='p-1.5 rounded bg-upfc-gray placeholder:font-light placeholder:text-base tracking-wider text-white' placeholder='Ingrese su contraseña' type="text" />
                    <!-- {
                        loginError && 
                        <span class='absolute -bottom-5 text-xs text-red-500'>User or password are incorrect</span>
                    } -->
                    </div>
                    <button type="submit" class='bg-upfc-lime rounded py-1.5 text-black'>Ingresar</button>
                    <div class='flex flex-col md:flex-row items-center md:items-start font-thin text-lg'>
                    <span>¿Todavía no tenés una cuenta?</span>
                    <a href="/users/register" class='md:mx-2 text-upfc-lime'>Registrate</a>
                    </div>
                </form>
            </div>
          </div>
          <!-- <div class='hidden md:block absolute right-0 bottom-0 top-24 overflow-hidden'>
            <UpfcLogoAlt />
          </div> -->
        </div>
      </main>
  <!-- <%-include("../partials/footer")%> -->
</html>
